<div id="container">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <br>
          <h1 style="font-weight: bold color: red">Scrape The Guardian</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <br>
          <button id="scrape-button">Srape!</button>
          <a href="/saved"><button>Saved</button></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"></div>     
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
      </div>
</div>